<div class="main">
    <h1 mat-dialog-title>Enter Parameters</h1>
    <div mat-dialog-content>
    <mat-error *ngIf="inputError">Please correct the missing/invalid fields</mat-error>

    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="fullName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input matInput (dateInput)="updateBirthDate($event)" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Expected Retirement Date</mat-label>
      <input matInput (dateInput)="updateRetireDate($event)" [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Target Annual Return</mat-label>
      <input matInput [(ngModel)]="targetReturn" placeholder="(Enter 0 if you would like most efficient portfolio)">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Investment Closing Strategy</mat-label>
      <mat-select (selectionChange)=updateCloseType($event)>
        <mat-option style="background-color: #222222; color:#DDDDDD" *ngFor="let closingStrategy of closingStrategy" [value]="closingStrategy.value">
          {{closingStrategy.viewValue}}
        </mat-option>
      </mat-select>
      <div *ngIf="false">

      </div>
      </mat-form-field>


    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput (dateChange)="updateStartDate($event)" [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>

    </mat-form-field>

    <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput (dateChange)="updateEndDate($event)" [min]="minEndDate" [max]="maxEndDate" [matDatepicker]="picker4">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Portfolio Value (in USD)</mat-label>
        <input matInput [(ngModel)]="portfolioValue">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Model/Trading Strategy</mat-label>
        <mat-select (selectionChange)=updateModel($event)>
          <mat-option style="background-color: #222222; color:#DDDDDD" *ngFor="let model of models" [value]="model.name"
          matTooltip="{{model.paramsString}}" matTooltipPosition="after">
            {{model.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="false">

        </div>
      </mat-form-field>


    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" class="backtesterButton cancel">Cancel</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial class="backtesterButton ok">Ok</button>
    <button mat-button (click)="onDemo()" cdkFocusInitial class="backtesterButton ok">Demo</button>
    </div>
</div>
